# Драйвер для PostgreSQL (понадобится позже, если перейдете на нее)
psycopg2-binary

# Пакет для работы с Excel файлами (опционально)
openpyxl

# Пакет для работы с AWS S3 (опционально)
boto3
